<h1>Listing bubbles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Thought</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bubbles.each do |bubble| %>
  <tr>
    <td><%= bubble.title %></td>
    <td><%= bubble.category %></td>
    <td><%= bubble.thought %></td>
    <td><%= bubble.url %></td>
    <td><%= link_to 'Show', bubble %></td>
    <td><%= link_to 'Edit', edit_bubble_path(bubble) %></td>
    <td><%= link_to 'Destroy', bubble, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bubble', new_bubble_path %>
